.items-catalog {
    flex: 1;
    display: flex;
    flex-direction: column;
    .catalog-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 70px;
        width: 100%;
        .name {
            font-size: 18px;
            margin-bottom: 2px;
        }
        span {
            font-weight: 400;
        }
        .back-button {
            position: absolute;
            top: 7px;
            right: 7px;
            cursor: pointer;
            img {
                height: 25px;
            }
        }
    }
    .catalog-full-desc {
        padding: 5px 25px 20px;
        .heading {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 15px;
        }
        p {
            font-weight: 400;
            margin-bottom: 15px;
            span {
                font-weight: 400;
                color: #999;
                cursor: pointer;
            }
        }
        .sizes {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            align-items: flex-end;
            .size {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 400;
                border-radius: 4px;
                border: 1px solid $main;
                margin-right: 10px;
                cursor: pointer;
                &.active {
                    border: 2px solid $main;
                }
            }
            .sizes-table {
                cursor: pointer;
                margin-left: 10px;
                font-size: 16px;
                font-weight: 400;
                border-bottom: 1px dashed $grey;
            }
        }
        .to-cart {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 18px;
            font-weight: 400;
            .price-block {
                margin-left: 15px;
                border: 1px solid rgba(96, 93, 89, 0.5);
                border-radius: 10px;
                height: 27px;
                display: flex;
                align-items: center;
                .price {
                    border-right: 1px solid rgba(96, 93, 89, 0.5);
                    height: 100%;
                    padding: 0 25px;
                    display: flex;
                    align-items: center;
                }
                button {
                    margin: 0;
                    border: none;
                    background: none;
                    font-size: 16px;
                    padding: 0 25px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
    .customize-tabs {
        width: 100%;
        height: 50px;
        background: $blue;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
        li {
            font-size: 18px;
            color: $white;
            cursor: pointer;
            margin-top: 1px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            &.active {
                background: $white;
                color: $main;
                border-radius: 10px 10px 0 0;
            }
            &:first-child {
                &.active {
                    border-radius: 0 10px 0 0;
                }
            }
            &:last-child {
                &.active {
                    border-radius: 10px 0 0 0;
                }
            }
        }
    }
    .tab-content {
        flex: 1;
        position: relative;
        .items {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: calc(100% - 51px);
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            -moz-overflow-scrolling: touch;
            -ms-overflow-scrolling: touch;
            -o-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 7px;
                height: 204px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(208, 203, 190, 0.25);
                border-radius: 25px;
            }
            .elements {
                padding: 0 22px 25px;
                .type-header {
                    font-size: 18px;
                    margin-top: 25px;
                    margin-bottom: 20px;
                    color: $main;
                    display: inline-block;
                }
                .grid-row {
                    display: grid;
                    &.variants {
                        grid-template-columns: 1fr 1fr;
                        gap: 22px;
                    }
                    &.colors {
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 13px;
                    }
                    &.prints {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        gap: 11px;
                    }
                    .item {
                        border: 1px solid $main_opacity;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        padding: 15px 15px 25px;
                        .item-image {
                            margin-bottom: 25px;
                        }
                        &.active {
                            border: 1px solid $blue;
                        }
                    }
                }
            }
            .show-btn {
                margin-top: 22px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 100%;
                border: 0.5px solid $main;
                text-decoration: none;
            }
        }
        .colors-block {  
            background: #fff;
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
            padding: 15px 25px;
            position: relative;
            z-index: 3;
            margin-bottom: 25px;
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            .colors-header {
                font-size: 18px;
                line-height: 25px;
                display: block;
                margin-bottom: 10px;
                font-weight: 400;
            }
            .color-checker {
                display: flex;
                flex-direction: row;
                list-style: none;
                padding: 0;
                width: 100%;
                li {
                    margin-right: 10px;
                    a {
                        display: block;
                        width: 32px;
                        height: 32px;
                        background: red;
                        border: 1px solid rgba(96, 93, 89, 0.5);
                        border-radius: 50%;
                        &.active {
                            border: 2px solid #419FE3;
                            position: relative;
                            &:before {
                                content: "";
                                display: block;
                                width: 11px;
                                height: 9px;
                                position: absolute;
                                top: 10px;
                                left: 8px;
                                background-image: url('~@/assets/media/img/icon.svg');
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
        .reset-button {
            height: 51px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background: $white;
            color: $main;
            border-top: 1px solid #f7f7f7;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.rwd-table {
    width: 100%;
    background: $main;
    color: #fff;
    overflow: hidden;
    thead tr {
        background: $main;
    }
    tbody tr {
        &:nth-child(odd) {
            background: #333;
        }
    }
    th {
        display: none;
        vertical-align: middle;
    }
    td {
        display: block;
        color: $white;
        &:first-child {
            padding-top: .5em;
        }
        &:last-child {
            padding-bottom: .5em;
        }
        &::before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }
    }
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
    margin: .5em 1em;
}
  @media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
      display: table-cell;
      padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
      padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
      padding-right: 0;
    }
  }

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}
  
.scrollable-modal .vm--modal {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 204px;
        background: $main;
        opacity: .8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.55);
        border-radius: 25px;
    }
}